html, body {
    height: 100%;
}

body {
    background-color: #CFCD2F;
    color: #406386;
    font-family: monospace;
}

.main {
    position: fixed;
    top: 50%;
    margin-top: -100px;
    height: 200px;
    text-align: center;
    width: 100%
}