@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic);

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
}

.main {
    height: 100%;
    position: relative;
}

.logo {
    max-width: 52px;
}

.navbar {
    font-size: 2rem;
}

.navbar-nav .nav-item {
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link{
    transition: color 0.25s ease-in 0s;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .active > .nav-link:focus, .navbar-dark .navbar-nav .active > .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.open:focus, .navbar-dark .navbar-nav .nav-link.open:hover, .navbar-dark .navbar-nav .open > .nav-link, .navbar-dark .navbar-nav .open > .nav-link:focus, .navbar-dark .navbar-nav .open > .nav-link:hover {
    color: #009FFF;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0, 159, 255, .75);
}

.navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
}

.dn{
    display: none;
}

.devices{
    max-width:100%;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    border-radius: 0;
}

.vertical-middle{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.card img{
    max-width: 100%;
}

.card.card-inverse{
    background-color: rgba(35, 35, 35, 0.95);
}

.skills{
    font-size: 1.25rem;
}

.skills .badge.badge-primary{
    background-color: #009FFF;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
    padding: 20px;
}

.cover .introduction {
    text-align: center;
}

.cover .nav-link {
    color: #FFE500;
    font-size: 2.75rem;
    padding: 1rem 0.25rem;
    transition: color 0.25s ease-in 0s;
}

.cover .nav-link:hover{
    color: whitesmoke;
}

.tag-primary {
    color: #232323;
}

.service-item .mdi{
    font-size: 5rem;
    color: rgba(255, 249, 00, 0.9);
}

.service-item .card {
    padding-top: 28px;
}

.company-section-title{
    margin: 60px 20px 80px 20px;
    color: #FFE500;
    text-shadow: 0 0 6px #232323;
}

.coming-soon{
    opacity: 0.75;
}

.card-block.coming-soon-text{
    padding: 0;
}

.coming-soon-text{
    font-size: 1.5rem;
}

#home h2 {
    margin: 32px;
    color: whitesmoke;
    font-size: 3rem;
}

#home {
    /*background: url("/images/unsplash/main1.jpg");*/
    background: url("/images/grid-op.png");
    /*background: url("/images/desktop-mobile.svg") no-repeat;*/
    /*background-position: center center;*/
    background-color: #232323;
}

#service {
    background-image: url("/images/unsplash/main1.jpg");
}

#team {
    background-image: url("/images/unsplash/main2.jpg");
}

#portfolio {
    background-image: url("/images/unsplash/main3.jpg");
}

#contact-us {
    background-image: url("/images/unsplash/time1.jpg");
}

.navbar-dark {
    background-color: rgba(35, 35, 35, 0.9);
}

/*snow*/
.winter .icicle{
    position: fixed;
    top: 100px;
    height: 100px;
    background: url("/images/snow/icicle.png")repeat-x;
    background-size: 100px;
    background-color: transparent;
}

.winter .cover .container-wrapper{
    background-image: url('/images/snow/s1.png'), url('/images/snow/s2.png'), url('/images/snow/s3.png');
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
/*snow end*/

@media screen and (max-width: 768px) {
    .display-1{
        font-size: 5rem;
    }
}

@media screen and (max-width: 544px) {
    .display-1{
        font-size: 4.2rem;
    }
}